<!-- file_management/templates/file_management/list_uploads.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Uploads</title>
  </head>
  <body>
    <h2>List of Uploads</h2>
    <ul>
      {% for upload in uploads %}
      <li>
        <strong>{{ upload.file.name }}</strong>
        <p>{{ upload.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
