{% extends 'base.html' %} {% block content %}
<div class="poll-container">
  <h2 class="poll-title">{{ poll.title }}</h2>
  <p class="poll-description">{{ poll.description }}</p>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="vote-button">Vote</button>
  </form>
  <div class="options-container">
    {% for option in poll.option_set.all %}
    <div class="option">
      <p>{{ option.title }}</p>
      <p>{{ option.vote_set.count }} votes</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
